<h2>Insert a new user and correspondent password</h2>
<div>
    <div>
        <div>Username</div>
        <input 
            [(ngModel)]="username"
            type="text"
            placeholder="Enter Username">
    </div>
    <div>
        <div>Password</div>
        <input 
            [(ngModel)]="password"
            type="text"
            placeholder="Enter Password">
    </div>
    <button (click)="addUser()">Add User</button>
</div>

<br>
<div>Imported Users</div>
<br>

<div>
    <!-- Structural directive -->
    @for (user of users; track user.id){
    <div>{{ user.username }}</div>
    <div>{{ user.password }}</div>
    <br>
    }
</div>